<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="./styles/main.css">
</head>
<body>
    <div class="navigation">
        <nav>
            <ul>
                <li><a href="#"><img src="./media/vynila.png" alt="logo" id="logo"></a></li>
                <li><img src="./media/guitarra.png" alt="guitarra"><a href="#">Instrumentos</a></li>
                <li><img src="./media/amplificador.png" alt="amplificador"><a href="#">Amplificadores</a></li>
                <li><img src="./media/cable.png" alt="accesorios"><a href="#">Accesorios</a></li>
                <li><img src="./media/grabadora.png" alt="grabadora"><a href="#">Grabadoras de audio</a></li>
                <input type="keyword" placeholder="Busca productos por nombre, código o categoria...">
                <input type="submit" value="Buscar">
            </ul>
        </nav>
    </div>
    <div class="section">
        <div class="banner">
            <div class="banner__text">
                <strong>YA LLEGARON LAS NUEVAS ELECTROACUSTICAS CORT</strong>
            </div>

            <div class="banner__button">
                    <input type="submit" value="VER MÁS">
            </div>
        </div>
    </div>

    {{{body}}}
    
    <script src="/scripts/main.js"></script>
</body>
</html>