<div class="cart">
    <div class="list">
        {{#each products}}
        <div class="product">
            <div>
                <p class="parrafo">Imagen</p>
                <img src="/media{{image}}" alt="">
            </div>
            <div>
                <p class="parrafo">Nombre</p>
                <p>{{name}}</p>
            </div>
            <div>
                <p class="parrafo">Precio</p>
                <p>${{price}} COP</p>
            </div>
            
        </div>
        {{/each}}
    </div>
    <script src="/scripts/cart.js"></script>
</div>

<div class="buybtn">
    <button><a href="/orders">Ir al pago</a></button>
</div>



<link rel="stylesheet" href="/styles/cart.css">

<script src="/scripts/cart.js"></script>
