<div class="cart">
    <div class="list">
        {{#each products}}
        <div class="product">
            <p>{{name}}</p>
            <button>Click</button>
        </div>
        {{/each}}
    </div>
    <script src="/scripts/cart.js"></script>
</div>
<div>
    <p>{{_id}}</p>
</div>

<button><a href="/orders">Ir al pago</a></button>

<script src="/scripts/cart.js"></script>
