<form action="" class="form__chekout">
    <p>Nombre</p>
    <input type="text" name="Nombre">
    <p>Dirección</p>
    <input type="text" name="Dirección">
    <p>Cedula</p>
    <input type="text" name="Cedula">
    <p>Tarjeta</p>
    <input type="text" name="Tarjeta">
    <input type="submit" name="" id="">
</form>

<script src="/scripts/orders.js"></script>