@font-face{
    font-family: "Futura Book font";
    src: url(/media/Futura\ Book\ font.ttf);

}

@font-face {
    font-family: "Futura Bold font";
    src: url(/media/Futura\ Bold\ font.ttf);
}

body {
    font-family: Futura Book font;
    margin: 0px;
    padding: 0px;
}

body p{
    font-family: Futura Bold font;
    margin: 0px;
    padding: 0px;
}

body h1{
    font-family: Futura Book font;
    margin: 0px;
    padding: 0px;
}

.navigation {
    display: flex;
    background-color: rgb(226, 226, 225);
    height: 80px;
}


nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    list-style-type: none;
    text-align: center;
}

nav li {
    padding: 15px 100px 0px 0px;
}

nav a {
    color: rgb(80, 79, 79);
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

#logo {
    width: 40%;
}

nav input {
    margin: 20px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

nav input[type="keyword"] {
    width: 50%;
    height: 25px;
    border-radius: 10px;
    border: none;
    color: rgb(80, 79, 79);
}

nav input[type="submit"] {
    margin: 20px 40px 0px 5px;
    height: 25px;
    background-color: rgb(28, 70, 152);
    color: white;
    border: none;
    border-radius: 5px;
}

.banner {
    background-image: url(/media/banner.png);
    background-size: cover;
    height: calc(100vh - 80px);
    align-content: center;
    justify-content: center;
    margin: 0px;
}

.banner__text {
    color: white;
    font-size: 100px;
    text-align: center;
    padding: 50px;
    margin: 0px 0px 140px 0px;
}

.banner input[type="submit"] {
    display: block;
    margin: 0px auto;
    padding: 30px;
    font-size: 50px;
    font-family: "Futura Bold font";
    src: url(./Futura\ Bold\ font.ttf);
    border: none;
    color: white;
    background-color: rgb(229, 32, 34);
    border-radius: 40px;

}

.banner input[type="submit"]:hover {
    text-decoration: underline;
}

.generalproducts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.products {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    margin: 10px 10px 10px 10px;
    padding: 20px 10px 20px 10px;
    background-color: rgb(226, 226, 225);
}

.products img {
    width: 60%;
}

.products h1 {
    font-size: 26px;
    padding: 10px 0px;
}

.products p {
    font-size: 20px;
    text-align: center;
    color: #515050;
    padding: 0px 0px 5px 0px;
}

.products button {
    background: #304894;
    border-radius: 39px;
    border: none;
    margin: 5px 0px;
    padding: 8px;
}

.products a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.products a:hover {
    text-decoration: underline;
    transition: 0.1 ease;
}

.btn_cart {
    width: 100%;
    display: block;
    position: fixed;
    z-index: 1000;
    justify-content: flex-end;
    align-content: flex-end;

}

.btn_cart img {
    justify-content: flex-end;
    align-content: flex-end;
    padding: 0px 0px 0px 92vw;
    margin: 0px;
    position: fixed;
}

.btn_cart p {
    padding: 0px 0px 10px 94.2vw;
    margin: 0px;
    font-size: 25px;
    position: fixed;
    color: white;
    
}

.tittle {
    width: 100%;
    display: flex;
    justify-content: center;
}

.tittle h1 {
    font-family: Futura Bold font;
    color: rgb(81, 80, 80);
    margin: 30px 0px 0px 0px;
    font-size: 70px;
}

.filters {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filters p {
    font-size: 28px;
    color: #515050;
}

.filters select {
    font-size: 20px;
    color: white;
    background: #304894;
    border-radius: 39px;
}